/*
ARQUIVO CRIADO PARA REMOVER AS CONFIGURAÇÕES PADRÕES DO NAVEGADOR
*/

* {
  margin: 0; /*Remove as margens padrões do navegador*/
  padding: 0; /*Remove os espaçamentos internos padrão do navegador*/
  box-sizing: border-box;
}
